.image-container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
    align-self: auto;

}
